<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Port" value="65000" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IP" value="192.168.0.48" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LocalLogPath" value="D:\temp\logs\systek" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>