<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Port" value="##SYSTEK_SERVER_PORT##" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LocalLogPath" value="##SYSTEK_LOG_FILEPATH##" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="ServerLogContext" connectionString="metadata=res://*/SystekDB.csdl|res://*/SystekDB.ssdl|res://*/SystekDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=#{SystekSQLInstance};initial catalog=Systek;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>