<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LoggingContext" connectionString="metadata=res://*/SystekDB.csdl|res://*/SystekDB.ssdl|res://*/SystekDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RTA_WS0000126\TESTDB;initial catalog=Systek;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>