<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Port" value="#{SystekServerPort}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ServerIP" value="#{SystekServerIP}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LocalLogPath" value="#{SystekLogPath}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReconnectWait" value="5000" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="VerboseLogging" value="#{VerboseLogging}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="AgentLogContext" connectionString="metadata=res://*/SystekDB.csdl|res://*/SystekDB.ssdl|res://*/SystekDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=#{SystekSQLInstance};initial catalog=Systek;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>